@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --placeholder: rgba(237, 237, 237, 0.7);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter);
}

input {
  width: 360px;
  padding: 16px 19px;
  border: 2px solid var(--foreground);
  background-color: var(--background);
  font-weight: 300;
}

input::placeholder {
  color: var(--foreground);
  opacity: 0.7;
}

input:focus {
  outline: none;
}
